<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách sinh viên</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!--css-->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">
    <style>
        table{
          width:100%;
          table-layout: fixed;
        }
        .tbl-header{
            margin: 0;
            padding: 0;
        }
        .tbl-content{
            height:420px;
            overflow-x:auto;
            margin-top: 0px;
            margin: 0;
            padding: 0;
        }




    </style>

    <!--js-->
    <script th:src="@{/js/bootstrap.js}"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script th:inline="javascript">
        $(document).ready(function() {
        $(window).on("load resize ", function() {
                var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
                $('.tbl-header').css({'padding-right':scrollWidth});
            }).resize();
    $(".header-clickable").click(function(e) {
        if(e.target.id !== "searchInput") {
            // Click was outside input, toggle visibility
            $("#searchInput").toggle();
        }
    });
    // Prevent hiding on input clicks
    $("#searchInput").click(function(e) {
        e.stopPropagation();
    });

    /*<![CDATA[*/
    var students = /*[[${studentListInClasses}]]*/;
    /*]]>*/

    $('#searchInput').on('keyup', function(){
        var value = $(this).val();
        console.log('Value = ' + value);
        var data = FilterFunction(value, students);

        rebuildTable(data)
    });

    function FilterFunction(value, data){
        var filteredData = [];
        for(var i = 0; i < data.length; i++){
            value = value.toLowerCase();
            var fName = data[i].first_name.toLowerCase();
            var mName = data[i].middle_name.toLowerCase();
            var lName = data[i].last_name.toLowerCase();
            if(fName.includes(value) || mName.includes(value) || lName.includes(value)){
                filteredData.push(data[i]);
            }
        }
        return filteredData;
    }

    function rebuildTable(data){
        var table = document.getElementById('studentTableBody');
        if (table) { // Check if the table exists
            table.innerHTML = '';
            for(var i = 0; i < data.length; i++){
                var student = data[i];
                var row = `<tr>
                                <td><a class="link-offset-2 link-underline link-underline-opacity-0"
                   href="/v1/student/studentInfo?ID=${student.id}">${student.id}</a></td>
                    <td><span>${student.last_name} ${student.middle_name} ${student.first_name}</span></td>
                    <td>${student.gpa.toFixed(2)}</td>
                    <td><span>${student.total_credit}</span></td>
                    <td>${student.total_cumulative_credits}</td>
                    </tr>`;
                table.innerHTML += row;
            }
        } else {
            console.log("Table with id 'studentTable' does not exist.");
        }
    }
});




    </script>
</head>
<body>
<h1>Danh sách sinh viên lớp <span th:text="${className}"></span></h1>
<div class="container">
    <form th:action="@{/v1/class/listStudentInClasses}" method="get">
        <input type="hidden" name="className" th:value="${className}">
        <div class="form-group mb-3 row">
            <label for="studentType" class="col-md-2 col-form-label">Chọn sinh viên</label>
            <select class="form-control col-md-4" id="studentType" name="studentType">
                <option value="all" th:selected="${studentType == 'all'}">Tất cả</option>
                <option value="excellent" th:selected="${studentType == 'excellent'}">Sinh viên xuất sắc</option>
                <option value="good" th:selected="${studentType == 'good'}">Sinh viên giỏi</option>
                <option value="poor" th:selected="${studentType == 'poor'}">Sinh viên kém</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Chọn</button>
        </div>
    </form>
</div>
<br>
<p><i>Danh sách có <span th:text="${size}"></span> sinh viên.</i></p>

<div class="tbl-header">
    <table class="table table-bordered table-hover">
        <thead class="table-primary">
        <th>STT</th>
        <th>Mã sinh viên</th>
        <th id="name-header" class="header-clickable">
            Họ tên
            <input type="text" id="searchInput" class="form-control" style="display: none; margin-top: 5px;">
        </th>
        <th th:replace="~{Classes/sorting :: sorting('GPA', 'GPA')}">GPA</th>
        <th th:replace="~{Classes/sorting :: sorting('total_credit', 'Tổng tín chỉ')}">Tổng tín chỉ</th>
        <th th:replace="~{Classes/sorting :: sorting('total_cumulative_credits', 'Tổng tín chỉ tích lũy')}">Tổng tín chỉ
            tích lũy
        </th>
        </thead>
    </table>
</div>
<div class="tbl-content">
    <table class="table table-bordered table-hover">
        <tbody id="studentTableBody">
        <tr th:each="student, index : ${studentListInClasses}">
            <td th:text="${index.count}"></td>
            <td><a class="link-offset-2 link-underline link-underline-opacity-0"
                   th:href="@{/v1/student/studentInfo(ID = ${student.getID()})}"
                   th:text="*{student.getID()}">Mã sinh viên</a></td>
            <td><span
                    th:text="*{student.getLast_name + ' ' + student.getMiddle_name + ' ' + student.getFirst_name}"> Họ tên</span>
            </td>
            <td th:text="${#numbers.formatDecimal(student.getGPA(), 1, 'COMMA', 2, 'POINT')}">GPA</td>

            <td><span th:text="*{student.getTotal_credit()}"> Tổng tín chỉ tích lũy </span></td>
            <td th:text="${student.total_cumulative_credits}"></td>
        </tr>
        </tbody>
    </table>
</div>

<button id="showChartBtn" class="btn btn-primary">Xem thống kê</button>

<div class="modal fade" id="chartModal" tabindex="-1" aria-labelledby="chartLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="chartLabel">Thống kê sinh viên</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="p-2">
                <button id="swapChartBtn" class="btn btn-secondary btn-md" onclick="swapCharts()">
                    <i class="bi bi-arrow-left-right"></i></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div id="container" class="mx-auto"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script th:inline="javascript">
    var currentChartType = 'column';

    function swapCharts() {
        if (currentChartType === 'column') {
            createPieChart();
            currentChartType = 'pie';
        } else {
            createColumnChart();
            currentChartType = 'column';
        }
    }

    function createColumnChart() {
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Phổ điểm'
            },
            xAxis: {
                categories: [[${gpaKeySet}]],
                crosshair: true
            },
            yAxis: {
                min: 0,
                max: 30,
                title: {
                    text: 'Số lượng'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="padding:0"><b>{point.y:.1f}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Điểm',
                data: [[${gpaValues}]]
            }]
        });
    }

    function createPieChart() {
        var resultKeySet = /*[[${resultKeySet}]]*/ [];
        var resultValues = /*[[${resultValues}]]*/ [];

        var data = [];
        resultKeySet.forEach(function(key, index) {
            data.push({
                name: key,
                y: resultValues[index]
            });
        });
        Highcharts.chart('container', {
			chart : {
				type : 'pie',
				options3d : {
					enabled : true,
					alpha : 50,
					beta : 0
				}
			},
			title : {
				text : 'Kết quả học tập'
			},
			tooltip : {
				pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					depth : 35,
					dataLabels : {
						enabled : true,
						format : '{point.name}'
					}
				}
			},
			series : [ {
				type : 'pie',
				name : 'Ratio',
				data : data
			} ]
		});
    }

    $(document).ready(function () {
        $('#showChartBtn').click(function () {
            createColumnChart(); // Initial chart type (you can change it to pie if needed)
            $('#chartModal').modal('show');
        });
    });

</script>

<a href="/" class="btn btn-success"><i class="bi bi-house"></i></a>
</body>
</html>