<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm lớp thành công</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">


</head>
<body>

<h1>Thêm thành công!</h1>

<a th:href="@{/v1/class/listClasses}" class="btn btn-primary">Xem danh sách lớp</a>
<a href="/" class="btn btn-success"><i class="bi bi-house"></i></a>

</body>
</html>